

<!-- <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">display</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Color</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Counter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink ="display">Display</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink ="color">Color</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink ="counter">Counter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink ="student-list">Student-list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink ="student-list-http">Student-list-http</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink ="#">Animation</a>
        </li>
      </ul>
    </div>
  </nav>