<div class="container">
    <div class="card">
        <div class="card-header bg-warning text-white">
            <h2>Student Data</h2>
        </div>
        <div class="card-body">
            <p>Student Id: {{fetchedStudent.id}}</p>
            <p>Student Name: {{fetchedStudent.studName}}</p>
            <p>Student Total Marks: {{fetchedStudent.studTotalMarks}}</p>
            <p>Student Dob: {{fetchedStudent.studDob}}</p>
            <p>Student Gender: {{fetchedStudent.studGender}}</p>

        </div>
        <div class="card-footer bg-warning">
            <button type="button" class="btn btn-primary" (click)="back()">Back</button>
        </div>
    </div>
</div>