<div class="container">
<h2>Color component </h2>

<ul>
    <li *ngFor="let color of allColors;let i=index;">
        <span *ngIf="!toggleEdit">
        {{color}} 
     </span>
     <span *ngIf="toggleEdit">
        <input type="text" [(ngModel)]="changeColor">
     </span>
        <button type="button" class="btn btn-danger" 
        (click)="removeColor(color)">Remove</button>
        <button type="button" *ngIf="!toggleEdit"
        class="btn btn-primary" 
        (click)="editColor(i,color)">Edit</button>
        <button type="button"*ngIf="toggleEdit" 
        class="btn btn-success" 
        (click)="editColor(i,color)">Update</button>
    </li>
</ul>
</div>



