<!-- <app-title></app-title> -->
<!-- <app-header></app-header> -->
<!-- <h1>hello Everyone! Welcome to Angular!!!</h1> -->
<!-- <img src="src\assets\Image\pexels-pixabay-60597.jpg" hight="100px" width="100px"> -->


<!-- <app-display></app-display> -->
<!-- <app-counter></app-counter> -->
<!-- 
<app-counter [value]="title"></app-counter> -->
<!-- <app-life-cycle *ngIf="ShowComp" [title]="title"></app-life-cycle>
<input type="text" [(ngModel)]="title">
<button type="button" (click)="showorHide()"></button> -->

<!-- <app-todo-animation></app-todo-animation> -->
<!-- <app-number-list></app-number-list> -->


 <!-- <app-color></app-color> -->
<!-- <app-observable-demo></app-observable-demo>
  <app-student-list></app-student-list>  -->

  <app-header></app-header>
  <router-outlet></router-outlet>
