<div class="container">
    <h2>List of Students</h2>
    <table class="table table-striped">
        <thead class="table-dark text-white">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Total Marks</th>
                <!-- <th>Percentage</th> -->
                <th>DOB</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            <input type="text" placeholder="Search by Gender" [(ngModel)]="filterData">
            <tr appMoverHighlight *ngFor="let stud of allStudents | filterList:filterData">
                <td>{{stud.id}}</td>
                <td>{{stud.studName | uppercase }}</td>
                <td>{{stud.studTotalMarks | currency : 'INR':'symbol'}}</td>
                <!-- <td [ngStyle]="{'color':getMarkColor(stud.studTotalMarks)}">{{stud.studTotalMarks}}</td> -->
                <td>{{stud.studTotalMarks/100 | percent }}</td>
                <td>{{stud.studDob | date:'fullDate'}}</td>
                <td>{{stud.studGender}}</td>
                <!-- <td *ngSwitchCase="'Male'" class="text-success"> {{stud.studGender}}</td>
                <td *ngSwitchCase="'Female'" class="text-warning">{{stud.studGender}}</td> -->
                <!-- </ng-container> -->
            </tr>
            <!-- pipes used  -->
            <!-- <tr appMoverHighlight *ngFor="let stud of allStudents" [ngClass]="{'table-danger':stud.studTotalMarks < 50}"> -->
            <!-- <tr appMoverHighlight *ngFor="let stud of allStudents">
                <td>{{stud.id}}</td>
                <td>{{stud.studName | uppercase }}</td>
                <td>{{stud.studTotalMarks | currency : 'INR':'symbol'}}</td> -->
            <!-- <td [ngStyle]="{'color':getMarkColor(stud.studTotalMarks)}">{{stud.studTotalMarks}}</td> -->
            <!-- <td>{{stud.studTotalMarks/100 | percent }}</td>
                <td>{{stud.studDob | date:'fullDate'}}</td>
                <td>{{stud.studGender}}</td> -->
            <!-- <td *ngSwitchCase="'Male'" class="text-success"> {{stud.studGender}}</td>
                <td *ngSwitchCase="'Female'" class="text-warning">{{stud.studGender}}</td> -->
            <!-- </ng-container> -->
            <!-- </tr> -->

            <!-- for ngClass  -->

            <!-- <tr *ngFor="let stud of allStudents" [ngClass]="{'table-danger':stud.studTotalMarks < 50}">
                <td>{{stud.id}}</td>
                <td>{{stud.studName}}</td>
                <td>{{stud.studTotalMarks}}</td>
                <td></td>
                <td>{{stud.studDob}}</td>
                <td>{{stud.studGender}}</td>
        </tr> -->

            <!-- for switch case -->

            <!-- <tr *ngFor="let stud of allStudents" [ngSwitch]="stud.studGender">
                <td>{{stud.id}}</td>
                <td>{{stud.studName}}</td>
                <td>{{stud.studTotalMarks}}</td>
                <td></td>
                <td>{{stud.studDob}}</td>
               
                <td *ngSwitchCase="'Male'" class="text-success">
                    {{stud.studGender}}</td>
                <td *ngSwitchCase="'Female'" class="text-warning">
                    {{stud.studGender}}</td>
        </tr> -->

            <!-- for directives example -->

            <!-- <tr *ngFor="let stud of allStudents">
                <ng-container  *ngIf="stud.studTotalMarks>40">
                <td>{{stud.id}}</td>
                <td>{{stud.studName}}</td>
                <td>{{stud.studTotalMarks}}</td>
                <td></td>
                <td>{{stud.studDob}}</td>
                <td>{{stud.studGender}}</td>
            </ng-container>
            </tr> -->
        </tbody>
    </table>
    <button type="button" class="btn btn-success" (click)="addStudent()">Add Student</button>
</div>